
<html>

{% extends "layout.html" %}
{% block content %}  

<p>
    <a href = "/">Return</a> to choosing a file
</p>

<div class = "package_info">
    <h2>
        Below are listed all packages in the given poetry.lock -file.
    </h2>
    <p class = "infotext">
        The ones that are installed are clickable. By clicking a package name
        you will arrive at a listing of all dependencies of the given package.
    </p>
</div>

{% for package in packages %}
    {% if not package.optional %}
        <p><a href = "/package/{{package.name}}">{{package.name}}</a></p>
    {% else %}
        <p>{{package.name}}</p>
    {% endif %}
{% endfor %}

{% endblock %}
</html>