<!DOCTYPE html>
<html>
{% extends "layout.html" %} 
{% block content %}
<div>
    <h2>Give the poetry.lock -file of your choice</h2>
    <form action = "/" method = "POST">
        <input type="file" id = "file"
        onchange ="return fileValidation()" 
        name = "file_to_parse">
        <br>
        <br>
    <input type="submit", value="Lähetä tiedosto">
</form>
</div>

<script>
    function fileValidation() {
        var fileInput = document.getElementById("file");
        var filePath = fileInput.value;
        var ext = filePath.split('.').pop()
        if (ext != "lock") {
            alert("Invalid file type")
            fileInput.value = '';
            return false;
        }
    }
</script>

{% endblock %}
</html>