{% extends "layout.html" %}
{% block content %}

<p>
    Back to <a href = "/index">index -page</a></p>
</p>

<div class = "package_info">
    <h2>
        Package: <u>{{package.name}}</u>
    </h2>
    
    <p class = "description">
        Description: {{package.description}}
    </p>
</div>

<div class = "package_list">
    <h3>
        Required dependencies
    </h3>
    <p class = "infotext">
        Here are listed all packages that this package depends on.
    </p>
    {% for dep in package.dependencies %}
    <p><a href = "/package/{{dep.name}}">{{dep.name}}</a></p>
    {% endfor %}
</div>

<div class = "package_list">
    <h3>Reverse dependencies</h3>
    <p class = "infotext">
        Here are listed all packages that depend on this package.
    </p>
    {% for dep in package.reverse_dep %}
    <p><a href = "/package/{{dep.name}}">{{dep.name}}</a></p>
    {% endfor %}
</div>


<div class = "package_list">
    <h3>Optional dependencies</h3>
    <p class = "infotext">
        Here are listed all optional dependencies of this package.
    </p>
    {% for dep in package.extras %}
    {% if not dep.optional %}
    <p><a href = "/package/{{dep.name}}">{{dep.name}}</a></p>
    {% else %}
    <p>{{dep.name}}</p>
    {% endif %}
    {% endfor %}
</div>

<div class = "package_list">
    <h3>Optional reverse dependencies</h3>
    <p class = "infotext">
        Here are listed all packages that have this package in their optional dependencies.
    </p>
    {% for dep in package.reverse_extras %}
    {% if not dep.optional %}
    <p><a href = "/package/{{dep.name}}">{{dep.name}}</a></p>
    {% else %}
    <p>{{dep.name}}</p>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}