

body {
    text-align: center;
    background-color: rgb(222, 241, 241);
    font-family: 'Times New Roman', Times, serif;
}

div {
    background-color: white;
    vertical-align: middle;
    padding: 1% 2%;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
}

form {
    display: inline-block;
    text-align: center;
    height: 100vh;
}

input {
    align-items: center;
}

h2 {
    padding: 1% 2%
}

h1 {
    padding: 1% 2%
}

h3 {
    padding: 1% 2%
}

.infotext {
    padding: 1% 2%
}

.package_info {
    padding: 1% 2%;
    border-style: double;
    border-color:rgb(209, 239, 239);
    border-radius: 0%;
}

.package_list {
    padding: 1% 2%;
    border-style: double;
    border-color:rgb(209, 239, 239);
    margin-block: 15px;
    border-radius: 0%;
}