

body {
    text-align: center;
    background-color: rgb(222, 241, 241);
    font-family: 'Times New Roman', Times, serif;
}

div {
    background-color: white;
    vertical-align: middle;
    padding: 1% 2%;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}

form {
    display: inline-block;
    text-align: center;
    height: 100vh;
}


.header {
    margin: auto;
    background-color: white;
    width: inherit
}

input {
    align-items: center;
}